* {
    margin: auto;
}

.counter {
    height: 40vh;
    width: 40vw;
    background-color: #ddd;
    margin-top: 30px;
}

.counter h1 {
    margin: 20px 0px;
    padding-top: 40px;
}

.counter p {
    margin: 10px 5px;
    font-size: 17px;
    font-weight: 500;
}

.increment,
.decrement,
.reset {
    height: 35px;
    width: 90px;
    border: 1px solid #3683e9;
    background-color: #3683e9;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 2px;
}